{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>HOME</h1>
    <p>Il y a un chart en dessous</p>
    {{ render_chart(chart) }}
    <p>Il y a un chart au dessus</p>
{% endblock main %}
