body {
    background-color: #EF9B0C;
    background-image: url("/assets/img/0Reunion1.webp");
    background-repeat:no-repeat;
    background-size: cover;
}

.form-container {
    /*background-color: #D3DCDE;*/
    width: 20rem;
    height: 25rem;
    padding: 15px;
    /*border-radius: 15px;*/
    /*border: 2px solid #065774;*/
    position: absolute;
    left: 10%;
    top: 10%;
    /* glassy effect */
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

.checkbox {
    display: none;
}

.h3 {
    color: white;
    background-color: #065774;
    padding: 15px;
    border-radius: 15px 15px 0 0;
    position: relative;
    top: -15px;
    left: -15px;
    width: 318px;
}

label {
    color: white;
    font-weight: bold;
    background-color: #065774;
    border-radius: 15px ;
    padding: 0 5px 0 5px;
    position: relative;
    top: 0.5rem;
    margin-left: 1rem;
}

#inputEmail {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 1rem;
}

#inputPassword {
    background-color: white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 1rem;
}

.btn {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #065774;
    width: 100%;
    border-radius: 15px;
    padding:  1rem 0 1rem 0;
    margin-top: 4rem;
}
